management:
  endpoint:
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,shutdown,info
spring:
  main:
    lazy-initialization: true
    web-application-type: none
  config:
    import: file:external-parameters.properties
  datasource:
    url: jdbc:sqlserver://${DB_IP}:${DB_PORT};encrypt=true;trustServerCertificate=true;
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    username: ${DB_USERNAME}
    password: ${DB_PW}
    enc-secret-key: ${DB_PW_ENC_KEY}
    hikari:
      maximum-pool-size: 100
      minimum-idle: 10
      connection-test-query: SELECT 1
      max-lifetime: 1800000
      validation-timeout: 3000
      connection-timeout: 30000
      idle-timeout: 600000     # 10 分鐘
      keepalive-time: 300000

  logging:
    file:
      name: logs/app.log   # 指定 Log 檔案位置
    level:
      root: trace           # 設定全域日誌等級
astar:
  binPath: "astar/"


xmlPath: "external-config/xml/"
batchFilePath: "batch-file/"

localFile:
  mis:
    batch:
      input: "${batchFilePath}input/"
      output: "${batchFilePath}output/"
      output_original_data: "${batchFilePath}output_original_data/"
    xml:
      input:
        directory: "${xmlPath}input/"
        bot_directory: "${xmlPath}bot_input/"
      output:
        directory: "${xmlPath}output/"
        bot_directory: "${xmlPath}bot_output/"
      file_def: "${xmlPath}file/DailyBatchFileDefinition.xml"
      file_def2: "${xmlPath}file/MonthlyBatchFileDefinition.xml"
      mask:
        directory: "${xmlPath}mask/"
        convert: "${xmlPath}mask/convert/"
        config: "${xmlPath}mask/convert/config.xml"

externalSort:
  blockSize: 100000

app:
  file-processing:
    max-lines: 100000
    timeout: 5000